//<Адаптив>===========================================================================================================================================
@media (max-width: 1710px) {
	.header__container {
		padding: 0 10px;
	}
}

@media (max-width: 1500px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1330px) {
	.header__contacts-social {
		margin-right: 15px;
	}

	.header__contacts {
		flex: 0 0 335px;
	}
}

@media (max-width: 1280px) {
	.menu-list a {
		padding: 5px 35px 5px 0;
	}
}

@media (max-width: 1150px) {
	.header__contacts-social {
		display: none;
	}

	.header__contacts {
		flex: 0 0 220px;
	}
}

@media (max-width: 1050px) {
	.footer__menu {
		flex-direction: column;
	}

	.footer__menu-item {
		margin-right: 55px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer__row {
		align-items: start;
	}

	.footer__row-bottom {
		padding-top: 0;
	}
}

@media (max-width: 1024px) {
	.menu-list a {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.header__logo {
		flex: 0 0 100px;
		height: 20px;
		margin-right: 20px;
	}

	.icon-menu {
		display: flex;
	}

	.header__menu-list {
		display: none;
	}

	.header__search form {
		max-height: 30px;
	}

	.header__contacts {
		flex: 0 0 140px;
		margin-left: auto;
		margin-right: 15px;
	}

	.header__phone {
		font-size: 18px;
	}

	.header__time-phone {
		display: none;
	}

	.header__popup-link {
		display: none;
	}

	.header__popup-link_mob {
		display: flex;
		margin-left: 0;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		margin-bottom: 15px;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.header__contacts-phone {
		padding-top: 0;
	}

	.footer__menu {
		flex: 0 1 100%;
		margin-bottom: 20px;
	}

	.footer__logo {
		margin-bottom: 20px;
	}

	.footer__row-bottom {
		padding-top: 20px;
		justify-content: start;
	}

	.footer {
		padding: 20px 0;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}
}

@media (max-width: 612px) {
	.popup__img {
		flex: 0 1 43%;
	}

	.popup__form-block {
		padding: 35px 15px;
	}
}

@media (max-width: 515px) {

	// .header__mob-phone-icon {
	// 	display: flex;
	// 	margin-right: 25px;
	// }

	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}
}

@media (max-width: 480px) {
	.header__search {
		display: none;
	}

	.header__mob-search-btn {
		display: flex;
	}

	.header__search.active {
		display: block;
		position: absolute;
		top: 50px;
		left: 0;
		max-width: 100%;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
		margin: 0;
	}

	.search__input {
		border-radius: 0 !important;
	}
}

@media (max-width: 345px) {
	.header__phone {
		font-size: 16px;
	}

	.header__contacts {
		flex: 0 0 125px;
		margin-right: 10px;
	}
}