//<Адаптив>===========================================================================================================================================
@media (max-width: 1710px) {
	.header__container {
		padding: 0 10px;
	}
}

@media (max-width: 1500px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1400px) {
	.about__imageBlock-phone {
		left: 15%;
	}
}

@media (max-width: 1330px) {
	.header__contacts-social {
		margin-right: 15px;
	}

	.header__contacts {
		flex: 0 0 335px;
	}
}

@media (max-width: 1280px) {
	.menu-list a {
		padding: 5px 35px 5px 0;
	}

	.about__imageBlock-phone {
		left: 10%;
	}

	.our-gas__card {
		flex: 0 1 46.5%;
	}

	.our-gas__card_05 {
		flex: 0 1 100%;
	}
}

@media (max-width: 1200px) {
	.about__imageBlock-phone {
		display: none;
	}

	.our-gas__card {
		flex: 0 1 46%;
	}

	.our-gas__card_05 {
		flex: 0 1 100%;
	}

	.our-gas__inner-big {
		flex: 0 1 45%;
		height: auto;
	}
}

@media (max-width: 1150px) {
	.header__contacts-social {
		display: none;
	}

	.header__contacts {
		flex: 0 0 220px;
	}

}

@media (max-width: 1050px) {
	.footer__menu {
		flex-direction: column;
	}

	.footer__menu-item {
		margin-right: 55px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer__row {
		align-items: start;
	}

	.footer__row-bottom {
		padding-top: 0;
	}

	.our-gas__card {
		flex: 0 1 45.8%;
	}

	.our-gas__card_05 {
		flex: 0 1 100%;
	}
}

@media (max-width: 1024px) {
	.menu-list a {
		font-size: 14px;
	}

	.addresses__wrap {
		height: 480px;
		overflow: hidden;
	}

	.addresses__block {
		padding: 25px 15px 20px 25px;
	}
}

@media (max-width: 960px) {
	.our-gas__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.our-gas__inner {
		justify-content: space-between;
	}

	.our-gas__card {
		flex: 0 1 48.5%;
		margin-right: 0;
	}

	.our-gas__inner-big {
		flex: 0 1 48.5%;
		height: 283px;
	}

	.our-gas__card_05 {
		flex: 0 1 100% !important;
	}

	.our-gas__inner-big {
		margin-top: 28px;
	}
}

@media (max-width: 860px) {
	.addresses__column_left {
		flex: 0 0 315px;
	}
}

@media (max-width: 812px) {
	.about__imageBlock {
		min-height: 500px;
		padding: 45px 100px;
	}

	.about__imageBlock-nuar_blk {
		display: block;
		background-color: #00000055;
	}

	.about__imageBlock-title,
	.about__imageBlock-line,
	.about__title-line,
	.about__imageBlock-subtitle {
		position: relative;
		z-index: 5;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.header__logo {
		flex: 0 0 100px;
		height: 20px;
		margin-right: 20px;
	}

	.icon-menu {
		display: flex;
	}

	.header__menu-list {
		display: none;
	}

	.header__search form {
		max-height: 30px;
	}

	.header__contacts {
		flex: 0 0 140px;
		margin-left: auto;
		margin-right: 15px;
	}

	.header__phone {
		font-size: 18px;
	}

	.header__time-phone {
		display: none;
	}

	.header__popup-link {
		display: none;
	}

	.header__popup-link_mob {
		display: inline-flex;
		margin-left: 0;
	}

	.section {
		padding: 20px 0 !important;
	}

	.title {
		margin-bottom: 15px;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.header__contacts-phone {
		padding-top: 0;
	}

	.footer__menu {
		flex: 0 1 100%;
		margin-bottom: 20px;
	}

	.footer__logo {
		margin-bottom: 20px;
	}

	.footer__row-bottom {
		padding-top: 20px;
		justify-content: start;
	}

	.footer {
		padding: 20px 0;
	}

	.main-banner {
		padding: 65px 0;
		min-height: auto;
	}

	.main-banner__title {
		font-size: 36px;
		line-height: 1.2;
	}

	.main-banner__title br {
		display: none;
	}

	.main-banner__subtitle {
		font-size: 18px;
		margin-top: 10px;
	}

	.main-banner__subtitle br {
		display: none;
	}

	.main-banner__iconBlock {
		display: flex;
		margin-top: 25px;
	}

	.about__imageBlock {
		min-height: 350px;
		padding: 35px 50px;
	}

	.about__imageBlock {
		margin-top: 25px;
	}

	.about__title {
		margin-bottom: 10px;
	}

	.about__title-line {
		margin-bottom: 15px;
	}

	.addresses__wrap {
		height: auto;
		overflow: hidden;
		flex-wrap: wrap;
	}

	.addresses__column {
		flex: 0 1 100%;
	}

	.addresses__block {
		display: flex;
		flex-wrap: wrap;
		padding: 25px 10px;
	}

	.addresses__block-item {
		flex: 0 1 30%;
		margin-right: 15px;
	}

	.addresses__column_left {
		margin-right: 0;
	}

	.addresses__block {
		border-radius: 0;
	}

	.addresses__map {
		height: 300px;
	}

	.our-gas__card {
		height: 230px;
	}

	.our-gas__card-descpBlock-text {
		font-size: 18px;
	}

	.our-gas__inner-big,
	.our-gas__card {
		flex: 0 1 49%;
		margin-bottom: 15px;
	}

	.our-gas__inner-big {
		margin-top: 15px;
	}

	.our-gas__inner-big {
		height: auto;
	}

	.our-gas__inner-big {
		margin-bottom: 0;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}
}

@media (max-width: 612px) {
	.popup__img {
		flex: 0 1 43%;
	}

	.popup__form-block {
		padding: 35px 15px;
	}

	.addresses__block-item {
		flex: 0 1 50%;
		margin-right: 0;
	}

	.our-gas__card {
		height: 200px;
	}
}

@media (max-width: 515px) {

	// .header__mob-phone-icon {
	// 	display: flex;
	// 	margin-right: 25px;
	// }

	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}

	.about__imageBlock {
		min-height: 30px;
		padding: 25px 35px;
		align-items: start;
		background: #D9000D;
	}

	.about__imageBlock-line {
		margin: 10px 0;
	}

	.about__imageBlock-subtitle {
		font-size: 14px;
	}

	.about__imageBlock-nuar_blk {
		background-color: #00000020;
	}
}

@media (max-width: 480px) {
	.header__search {
		display: none;
	}

	.header__mob-search-btn {
		display: flex;
	}

	.header__search.active {
		display: block;
		position: absolute;
		top: 50px;
		left: 0;
		max-width: 100%;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
		margin: 0;
	}

	.search__input {
		border-radius: 0 !important;
	}

	.our-gas__card {
		height: 160px;
		margin-bottom: 10px;
	}

	.our-gas__inner-big {
		margin-top: 10px;
	}

	.our-gas__card-descpBlock-icon::before {
		content: "";
		float: left;
		flex: 0 0 35px;
		width: 35px;
		height: 50px;
	}

	.our-gas__card-descpBlock-text {
		font-size: 14px;
		font-weight: 700;
		padding: 5px 25px;
		margin-left: -18px;
	}
}

@media (max-width: 414px) {
	.main-banner {
		padding: 65px 0 40px 0;
	}

	.main-banner__iconBlock-item {
		flex: 0 0 45px;
		height: 45px;
		margin-right: 15px;
	}

	.main-banner__iconBlock-item::before {
		background-size: 58%;
	}

	.addresses__block-item {
		flex: 0 1 100%;
	}

	.addresses__map {
		height: 200px;
	}

	.our-gas__card {
		height: 130px;
		padding: 10px;
	}

	.popup__form-btn,
	.header__popup-link_mob {
		width: 100%;
	}

	.about__imageBlock-title br,
	.about__imageBlock-descp,
	.about__imageBlock-btn {
		width: 100%;
	}

	.about__imageBlock-subtitle br {
		display: none;
	}
}

@media (max-width: 365px) {
	.our-gas__card {
		height: 100px;
	}
}

@media (max-width: 345px) {
	.header__phone {
		font-size: 16px;
	}

	.header__contacts {
		flex: 0 0 125px;
		margin-right: 10px;
	}

	.our-gas__card-descpBlock-text {
		font-size: 12px;
		padding: 5px 15px;
	}
}